---
import I18nKey from "../i18n/i18nKey";
import {i18n} from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";


---

<MainGridLayout title={i18n(I18nKey.contactMe)} description={i18n(I18nKey.contactMe)}>
<h1>Contactame</h1>
</MainGridLayout>